
  <header class="site-header">
    <div class="container">

      <a class="site-header-logo no-underline-hover" href="http://www.japankana.cn/" aria-label="Electron Home Page">
        <svg width="156" height="18" xmlns="http://www.w3.org/2000/svg">
          <g>
            <title>JapanKana</title>
            <text stroke="#000" transform="matrix(0.7878902950545897,0,0,0.6638620529202923,-3.682832553176634,7.097256000490727) " xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_1" y="10.939295" x="35.547341" fill="currentColor" stroke-width="0">JapanKana</text>
          </g>
        </svg>
      </a>

      <nav class="site-header-nav">
        <a class="site-header-nav-item" href="http://www.japankana.cn/docs">主页</a>
        <a class="site-header-nav-item" data-href-match="/releases" href="http://www.japankana.cn/releases/stable">版本发布</a>
        <a class="site-header-nav-item" href="http://www.japankana.cn/blog">博客</a>
        <a class="site-header-nav-item active" href="http://www.japankana.cn/apps">下载</a>
        <a class="site-header-nav-item" href="http://www.japankana.cn/community">社区</a>
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input id="search-input" class="nav-search ds-input" placeholder="搜索" aria-label="search-box" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" style="position: relative; vertical-align: top;" dir="auto">
          <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Open Sans&quot;, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;"></pre>
          <span class="ds-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;" role="listbox" id="algolia-autocomplete-listbox-0">
            <div class="ds-dataset-1"></div>
          </span>
        </span>&nbsp;
        <button class="site-header-nav-item bordered lang-select-button" aria-controls="languages-header-menu" aria-expanded="false" aria-label="请选择语言">中文</button>
      </nav>
    </div>
  </header>