<main class="PRIMER-REMOVE-ME px-3 px-md-6">
  <div class="py-6 py-md-7 py-lg-8">
    <div class="container-xl media-fluid">
      <div class="clearfix pt-md-6">
        <div class="col-md-3 float-md-left pr-md-5 mb-3 mb-md-0">
          <div class="CircleBadge CircleBadge--large mx-auto box-shadow-large mt-1" style="background-color: #ffffff">
            <img class="CircleBadge-icon" src="assets/imgs/japankana256.ico" alt="Meteorman" />
          </div>
        </div>
        <div class="col-md-9 float-md-left pl-md-5 text-center text-md-left">
          <h1 class="f00-light lh-condensed mb-3">JapanKana</h1>
          <h3 class="text-mono text-normal text-gray-light">
            Japanese Kanji to Katakana
          </h3>
        </div>
      </div>
      <div class="app-container">
        <main class="left-bar">
          <div class="app-meta sticky">
            <!-- <div class="app-meta-entry">
                <h5 class="mb-2 text-mono text-normal text-gray-light">仓库</h5>
                <a href="https://github.com/antwaremx/meteorman">github.com/antwaremx/meteorman</a>
              </div> -->

            <div class="app-meta-entry">
              <h5 class="mb-2 text-mono text-normal text-gray-light">分类</h5>
              <a class="topic-tag topic-tag-link topic-tag-outline f6"
                href="http://www.huyunan.xyz/apps?category=developer-tools">Developer Tools</a>
            </div>

            <div class="app-meta-entry app-meta-entry-downloads">
              <h5 class="mb-2 text-mono text-normal text-gray-light">
                下载 (1.0.2)
              </h5>

              <a class="app-download linux" href="http://www.huyunan.xyz/japan"
                style="display: none">Meteorman-1.1.1.AppImage</a>
              <a class="app-download darwin" href="http://www.huyunan.xyz/japan"
                style="display: none">Meteorman-1.1.1.dmg</a>
              <a class="app-download win32" href="javascript: void(0);" (click)="download('http://www.huyunan.xyz/download/japan/japankana-1.0.2-Setup.exe')"
                style="display: inline-block">Download for Windows</a>
            </div>

            <div class="app-meta-entry">
              <h5 class="mb-2 text-mono text-normal text-gray-light">关键词</h5>
              <a class="app-keyword" href="http://www.huyunan.xyz/q=japankana">japankana</a>
            </div>

            <div class="app-meta-entry">
              <h5 class="mb-2 text-mono text-normal text-gray-light">
                最新发布
              </h5>
              <a href="http://www.huyunan.xyz/japan">
                JapanKana 1.0.2
                <span class="app-tagname">(1.0.2)</span>
              </a>
            </div>
          </div>
        </main>
        <div class="app-boxes">
          <main id="readme" class="app-box app-readme markdown-body">
            <div id="readme" class="md" data-path="README.md">
              <article class="markdown-body entry-content container-lg" itemprop="text">
                <h1>
                  <a id="user-content-neutron-" class="anchor" aria-hidden="true"
                    href="https://github.com/webcatalog/neutron/blob/master/#neutron-"><svg class="octicon octicon-link"
                      viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                      </path>
                    </svg></a>Japanese Kanji to Katakana
                </h1>
                <ng-container *ngFor="let data of downloadData">
                  <table>
                    <thead>
                      <tr>
                        <ng-container *ngFor="let download of data">
                          <th>{{ download.alt }}</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <ng-container *ngFor="let download of data">
                          <td class="center">
                            <a href="javascript: void(0);" (click)="download02(download.url)"><img
                                src="./assets/svg/download.svg"
                                alt="{{download.alt}}" style="max-width: 100%" /></a>
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
                <br/>
                <h2>
                  <a id="user-content-starting-" class="anchor" aria-hidden="true" href="http://www.huyunan.xyz/japan"><svg
                      class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                      </path>
                    </svg></a>Starting 🚀
                </h2>
                <p>
                  还记得 japanhr翻译器 吗？这可是 windows 7
                  时代最好的日文汉字转平假名工具。但是到 windows
                  10后，便不能使用了
                  不免有些遗憾。所以我利用闲暇时间做了这个软件希望大家喜欢。
                  <br /><br />使用方法也和 japanhr翻译器
                  一样，在第一个输入框输入 日文汉字
                  回车后，第二个输入框便会输出转换后的平假名。
                  <br /><br />有什么问题可以发送到我邮箱 styunan@163.com
                </p>
                <br />
              </article>
            </div>
          </main>
          <div class="app-box app-screenshots" style="display: none">
            <div class="active-screenshot">
              <img alt="not_used" />
            </div>
            <div class="all-screenshots"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
